<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>登录</title>

    <!-- Bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/reset.css" rel="stylesheet">
    <link href="./assets/css/reg.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="sign">
        <!-- 账号 -->
        <div class="input-group input-group-lg sign-adminname">
            <span class="input-group-addon" id="sizing-addon1">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" placeholder="Admin" aria-describedby="sizing-addon1" id="adminName">
        </div>
        <!-- 密码 -->
        <div class="input-group input-group-lg sign-password">
            <span class="input-group-addon" id="sizing-addon1">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1"
                id="password">
        </div>
        <!-- 登录按钮 -->
        <button type="button" class="btn btn-primary btn-lg sign-btn">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
        <!-- 注册按钮 -->
        <button type="button" class="btn btn-success btn-lg reg-btn">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </button>
    </div>
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script> -->
<script src="./assets/js/jquery-2.1.4.min.js"></script>
<script src="./assets/js/axios.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script> -->
<script src="./assets/js/bootstrap.min.js"></script>

<script>
    const adminName = $('#adminName')[0];
    const password = $('#password')[0];
    const signBtn = $('.sign-btn')[0];
    const regBtn = $('.reg-btn')[0];
    // 登录
    signBtn.onclick = () => {
        axios({
            url: "http://localhost:3000/admin/loginAdmin",
            method: "post",
            data: {
                adminName: adminName.value,
                password: password.value
            }
        }).then(res => {
            // console.log(res);
            if (res.data.code == 200) {
                // eslint-disable-next-line
                new Promise((resolve, reject) => {
                    setTimeout(() => {
                        resolve();
                    }, 10);
                }).then(() => {
                    alert("登录成功");
                    // this.loginAction(res.data.userInfo);
                    console.log(res.data.userInfo);
                    // 保存登录状态到 sessionStorage
                    sessionStorage.token = adminName.value;
                    // 跳转到 首页
                    window.location.href = "./home.html"
                }).catch(err => {
                    alert("登录失败");
                    console.log(err);
                });
            } else if (res.data.code == 201) {
                alert("密码错误");
            } else {
                alert("用户不存在");
            }
        }).catch(err => {
            console.log(err);
        });
    };
    // 注册
    regBtn.onclick = () => {
        axios({
            url: "http://localhost:3000/admin/registAdmin",
            method: "post",
            data: {
                adminName: adminName.value,
                password: password.value
            }
        }).then(res => {
            if (res.data.code == 200) {
                alert('注册成功');
                // this.registUsername = this.registPassword = "";
            } else {
                alert('注册失败');
            }
        }).catch(err => {
            alert('未知错误');
            console.log(err);
        });
    };
</script>

</html>